@using System.Globalization
@model List<PagiApp.ViewModels.OrderViewModel>
@{
    Layout = "_AdminLayout";
    ViewData["Title"] = "Pesanan saya";
}

<div class="row">
  <form asp-action="Index" asp-controller="Order">
  <div class="col-md-4">
    <input type="date" name="date" value="@ViewBag.FilterDate">@ViewBag.FilterDate</input>
  </div>
  <div class="col-md-4">
    <select asp-items="@ViewBag.StatusList" name="status">

    </select>
  </div>
  <div class="col-md-4">
    <input type="submit" value="Cari" />
  </div>
  </form>
</div>
<table class="table">
  <thead>
    <tr>
      <th scope="col">#OrderID</th>
      <th scope="col">No Transaksi</th>
      <th scope="col">Tgl Transaksi</th>
      <th scope="col">Status</th>
      <th scope="col">Total bayar</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
      @foreach (var item in Model)
      {      
        <tr>
        <th scope="row">@item.IdOrder</th>
        <td>@Html.ActionLink(string.Format("#{0}-{1}", item.IdOrder, item.TglOrder.ToShortDateString()), "Detail", "Order", new {
            id = item.IdOrder 
            })</td>
        <td>@item.TglOrder.ToLongDateString() @item.TglOrder.ToLongTimeString()</td>
        <td>@item.Status</td>
        <td>@item.TotalBayar.ToString("C", new CultureInfo("id-ID"))</td>
        <td><a href="#">Detail</a></td>
        </tr>   
      }
    </tbody>
</table>
